
*.exe
*.ilk
*.pdb
*.iobj
*.ipdb
*.lib
*.tlog
*.obj
*.recipe
*.pch
*.idb
*.db
*.db-shm
*.ipch
*.db-wal
*.testlog
*.opendb
*.manifest
tomBoy/.vs/wintendo/v16/.suo
tomBoy/.vs/tomBoy/v16/.suo
tomBoy/tomboyCore/Games/*.gb
tomBoy/tomboyCore/tomboy.log
tomBoy/tomboyCore/x64/Debug/tomboy.log
tomBoy/tomboyCore/x64/Release/tomboy.log
tomBoy/tomboyApp/x64/Release/tomboyApp.log
/tomBoy/tomboyCore/gfx_output
/tomBoy/tomboyCore/x64
/tomBoy/tomboyCore/x64
/tomBoy/tomboyCore/x64/Release
